* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

main {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 12px;
    border-style: dotted;
    border-width: 2px;
    border-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

a {
    color: black;
    cursor: text;
}